<div class="jumbotron">
  <h1>Hello <%= @user.name() %></h1>
  <p>This is your main page. You can view your current keywords, add keywords, and see all postings matching your keywords.</p>
<hr>
  <% if @keywords.any?() %>
  <h3>Current keywords</h3>
    <!-- <ul> -->
      <% @keywords.each() do |keyword| %>
        <form class="" action="/users/<%= @user.id() %>/keywords/<%= keyword.id() %>/delete" method="post">
          <div class="form-group">
          <input type="hidden" name="_method" value="delete">
          <button class="btn btn-default btn-sm"><%= keyword.keyword() %></button>
        </div>
        </form>
      <% end %>
    <!-- </ul> -->
  <% else %>
    <p>
      You don't have any keywords, add some below!
    </p>
  <% end %>

  <h3>Add new keyword</h3>
  <form class="form-inline" action="/users/<%= @user.id() %>/keywords/new" method="post">
    <div class="form-group">
      <label for="new_keyword"> </label>
      <input class="form-control" type="text" name="new_keyword" placeholder="i.e. brunette">
    </div>
    <button class="btn btn-default" name="button">Add</button>
  </form>
  <br>
  <p>To delete keyword, simply click on it!</p>
<hr>
  <h3>Matching Posts</h3>

  <form action="/users/<%= @user.id() %>/keywords/find" method="post">

  <button class="btn btn-default">Find Your Connections</button>
  </form>

  <% if @posts.any?() %>
    <ul>
      <% @posts.each() do |post| %>
        <% keyword = Keyword.find(post.keyword_id()).keyword() %>
        <li><%= keyword %>: <a href="<%= post.url %>"><%= post.title %></a></li>
      <% end %>
    </ul>
  <% end %>



</div>
