<div class="jumbotron">
  <h1>Hello, <%= @user.name() %></h1>
  <p>Here you can add keywords and see all postings that relate to them.
    <br>
    To delete a keyword, simply click on it.
  </p>

  <hr>
  <% if @keywords.any?() %>
  <h3>Current keywords</h3>
    <% @keywords.each() do |keyword| %>
      <form class="" action="/users/<%= @user.id() %>/keywords/<%= keyword.id() %>/delete" method="post">
        <div class="form-group">
          <input type="hidden" name="_method" value="delete">
          <button class="btn btn-default btn-sm"><%= keyword.keyword() %></button>
        </div>
      </form>
    <% end %>
  <% else %>
  <% end %>
  <h3>Add new keyword</h3>
  <form class="form-inline" action="/users/<%= @user.id() %>/keywords/new" method="post">
    <div class="form-group">
      <label for="new_keyword"> </label>
      <input class="form-control" type="text" name="new_keyword" placeholder="i.e. brunette">
    </div>
    <button class="btn btn-default" name="button">Add</button>
  </form>
  <br>

  <hr>
  <h3>Matching Posts</h3>
  <form action="/users/<%= @user.id() %>/keywords/find" method="post">
    <button class="btn btn-default">Find Your Connections</button>
  </form>
  <% if @posts.any?() %>
    <ul>
      <% @posts.each() do |post| %>
        <% keyword = Keyword.find(post.keyword_id()).keyword() %>
        <li><%= keyword %>: <a href="/users/<%= @user.id() %>/posts/<%= post.id() %>"><%= post.title %></a></li>
      <% end %>
    </ul>
  <% end %>

  <hr>
  <center>
    <form class="form-inline" action="/users/<%= @user.id() %>/update" method="post">
      <div class="form-group">
        <input type="hidden" name="_method" value="patch">
        <input type="text" name="name" placeholder="i.e. Max" class="form-control">
        <button class="btn btn-default" name="button">Edit Name</button>
      </div>
    </form>
    <br>
    <form class="form-inline" action="/users/<%= @user.id() %>/email" method="post">
      <div class="form-group">
        <input type="hidden" name="_method" value="patch">
        <input type="text" name="email" placeholder="i.e. max@max.com" class="form-control">
        <button class="btn btn-default" name="button">Add/Edit Email</button>
    </form>
        <form class="" action="/users/<%= @user.id() %>/email/update" method="post">
          <div class="form-group">
          <input type="hidden" name="_method" value="patch">
          <button class="btn btn-danger form-control" name="button">Unsubscribe</button></div>
        </form>
      </div>
      <% if @email != nil %>
      <p>Current email: <%= @email %></p>
      <% else %>
      <p>You are able to subscribe to email notifications whenever a post matches your keyword.</p>
      <% end %>

    <br>
    <form class="" action="/users/<%= @user.id() %>/delete" method="post">
      <div class="form-group">
      <input type="hidden" name="_method" value="delete">
      <button class="btn btn-danger form-control" name="button">Delete <%= @user.name() %></button></div>
    </form>
  </center>
</div>
